.infalHolder {
    display: inline-block;
    vertical-align: top;
    width: 350px;
    min-height: 145px;
    padding: 0px;
    background-color: #2d77a3;
    border: 0px solid #cfe371;
    margin: 7px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.infalHolder .infalHeader {
    background-color: #70b1d8;
    display:block;
    height: 44px;
    border-bottom: 2px solid #cfe371;
}

.infalHolder .infalHeader .infalHeaderText {
    color: #E0E0E0;
    font-family: helvetica,arial,sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
    left: 10px;
    top: 10px;
    position: relative;
    padding-top: 2px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.infalHolder .infalBody {

}

.infalHolder .infalBody .infalBodyButton {
    display: block;
    opacity: 1;
    position: relative;
    z-index: 1;
    margin-top: 12px;
    margin-bottom: 0;
    margin-left: 9px;
    border: 3px solid #84bdde;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: #509fd0;
    width: 110px;
    text-align: center;
}