
.goalsheader
{
    background-image: url('/webroot/Images/logo/goalsandservices.png'); 
    background-repeat: no-repeat;
    
    left: 0px;
    top: 0px;
    display: block;
    width: 155px;
    height: 34px;
    
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;

    position: relative;
    white-space: nowrap;
    border:0px solid #cbcbcb;     
}



.filtericon2
{
    left: 10px;
    background-image: url('/webroot/Images/buttons/filter.png');   
}