.singleentryrecord, .singleentryrecordheader {
    width: 455px;
}

.singleentryrecord
{
    display: inline-block;
    vertical-align: top;
    
	min-height: 315px;    
    padding: 0px;
    background-color: #2d77a3;
    border: 0px solid #cfe371;   
    margin:7px; 
     
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
}

.singleentryrecordheader
{
    display: block;
    position: relative;
    
    background: #70b1d8;
    height: 140px;
    
    top: -2px;
    left: 0px;
    
    border-bottom: 2px solid #cfe371;    
}

.singleentryrecordheader > div > span {
    display: inline-block;
    max-width: 100px;
    padding-left: 5px;
    padding-top: 5px;
    vertical-align: bottom;
}

.singleentryrecordheader > div > span > span > div {
    font-size: 13px;
    color: white;
}

.singleentryworkcodeholder {
    /*max-width: 180px !important;*/
    min-width: 280px;
}

.singleentrylocationholder {
    min-width: 280px;
}

.singleentrytime 
{
    background: #509fd0;
    color: #fff;
    text-align: center;
    font-family: helvetica,arial,sans-serif;
    border: 0px;
    width: 80px;
    cursor: pointer;
    font-size:14px;
    height: 20px;
    padding: 2px 4px;
    border-radius: 20px 20px 20px 20px;
    display: block;
}

.singleentrydate 
{
    background: #509fd0;
    color: #fff;
    text-align: center;
    font-family: helvetica,arial,sans-serif;
    border: 0px;
    width: 80px;
    cursor: pointer;
    font-size:14px;
    height: 20px;
    padding: 2px 4px;
    border-radius: 20px 20px 20px 20px;
    display: block;
}

.singleentryworkcode, .singleentrylocation
{
    background: #509fd0;
    color: #fff;
    text-align: center;
    font-family: helvetica,arial,sans-serif;
    border: 0px;
    
    cursor: pointer;
    font-size:14px;
    height: 20px;
    padding: 2px 4px;
    border-radius: 20px 20px 20px 20px;
    display: block;
}

.singleentryworkcode {
    width: 265px;
}

.singleentrylocation
{
    width: 265px;
}

.singleentryerror{
    font-family: helvetica,arial,sans-serif;
    font-size: 16px;
    color: #fff;
    margin-bottom: 0;
    margin-left: 8px;
    padding-left: 21px;
    background-image: url(../Images/new-icons/icon_error.png);
    background-repeat: no-repeat;
    background-size: 1.1%;
}

popupbox
{
    background: #509fd0;
    border: 10px solid #84bdde;
    width: 220px;
    z-index: 8;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px 15px 15px 15px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius:20px;
    max-height: 275px;
    position: absolute;
    display: none;
    animation: quickgrow 0.1s ease;
}

@keyframes quickgrow {
    0% {
        max-height: 0px;
    }

    100% {
        max-height: 275px;
    }
}

popupbox a
{
    border-radius: 20px;
    list-style: none;
    background: #21597b;
    border: 2px solid #cfe371;
    margin-bottom: 15px;
    font-size: 12px;
    color: white;
    display: block;
    padding: 3px 15px;
    padding-left: 3px;
    cursor: pointer;
    text-decoration: none;
    font-family: helvetica,arial,sans-serif;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
    line-height: 30px;
}

.singleentryrecord .consumer 
{
    width: 110px;;
    height: 60px;
    display: inline !important;
    float: left;
    margin-left: 6px;
    padding-bottom: 20px;
}

.singleentryrecord .consumer img
{
    width: 40px;
    height: 40px;
    border-radius: 99px 99px 99px 99px;
    left: -10px !important;
}

.singleentryrecord .consumer .nametext 
{
    font-size: 14px;
    text-align: center;
}


.singleentryrecord .consumer .lastnametext 
{
    display: block;
    font-size: 14px;
}

.singleentrynotes 
{
    line-height: 30px;
    font-size: 27px;
    color: #fff;
    border-radius: 99px;
    border: 1px solid rgba(255,0,0,0);
    width: 35px;
    height: 35px;
    cursor: pointer;
    text-align: center;
    background-image: url(../Images/new-icons/notes.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.singleentrytransportation 
{
    line-height: 29px;
    border-radius: 99px;
    font-size: 30px;
    background-color: #509fd0;
    color: #fff;
    border: 1px solid rgba(255,0,0,0);
    margin-left: 5px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    text-align: center;
    padding-left: 1px;
    background-image: url("../Images/new-icons/whitecar.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.singleentrynotesYes, .singleentrytransportationYes, .singleentrynotestextareaYes
{
    background-color: Green;
}

.singleentrynotesNo, .singleentrytransportationNo, .singleentrynotestextareaNo
{
    background-color: Red;
}

.singleentrynotesNotNeeded {
    background-color: #509fd0 !important;
}

.singleentryoverlay 
{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 9990;
    /*
        Want to have a nice, fancy overlay? Uncomment the below line.
        background: rgba(0, 0, 0, 0.25)
    */
}

.singleentrynotewindow 
{
    position: relative;
    background: #2d77a3;
    border: 10px solid #84bdde;
    border-radius: 20px;
    padding: 20px;
    width: 500px;
    height: 370px;
    left: 115px;
    top: 117px;
}

.singleentrynotewindow textarea 
{
    float: left;
    width: 461px;
    height: 344px;
    border: none;
    resize: none;
    outline: none;
}

.singleentrynotewindow span {
    /* Internet Explorer 10 */
    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;

    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari, Opera, and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */

    float: left;
    clear: left;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    vertical-align: middle;
    width: 30px;
    color: #fff;
    font-size:22px;
    height: 348px;

    background-image: url(../Images/new-icons/notes.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

#singleentrytransportationtemplate 
{
    display: block;
    position: absolute;
    background: #2d77a3;
    border-radius: 20px;
    margin: 5px;
    width: 500px;
    height: 460px;
    left: 115px;
    top: 117px;
}

#singleentrytransportationtemplate content
{
    display: block;
    position: relative;
    width: 100%;
    height: 85%;
    overflow-y: auto;
    color: White;
    background-color: #2d77a3;
}

#singleentrytransportationtemplate footerbar
{
    display: block;
    position: relative;
    width: 100%;
    height: 7%;
    background-color: #2d77a3;
}

#singleentrytransportationtemplate footerbar > div
{
    position: absolute;
    height: 100%;
    right: 0px;
    bottom: 0px;
}

#singleentrytransportationtemplate footerbar button
{
    height: 100%;
    margin-right: 5px;
    width: 60px;
}

#singleentrytransportationtemplate content input[type=radio]
{
    display:none;
}

#singleentrytransportationtemplate .selectedTransportation 
{
    background-color: yellow;
    color: Black;
}

#singleentrytransportationtemplate content ul
{
    list-style: none;
}

#singleentrytransportationtemplate content li
{
    display: inline;
}

.transportation 
{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 1em 1em 1em 1em;
    width: 130px !important;
    height: 30px;
    border: 1px solid black;
}

.singleentrytransportationerror 
{
    animation: singleentrytransportationerror 1s ease;
}

.singleentrylocationpop{
    left: 288px;
}

@keyframes singleentrytransportationerror 
{
    0% {
        border: 10px solid #84bdde;
    }
    
    5% {
        border: 10px solid Red;
    }
    
    50% {
        border: 10px solid #84bdde;
    }
    
    55% {
        border: 10px solid Red;
    }
    
    100% {
        border: 10px solid #84bdde;
    }
}

.singleentrytablerowedit 
{
    background-image: url(/webroot/Images/new-icons/notes.png);
    background-repeat: no-repeat;
    border-radius: 99px 99px 99px 99px;
    width: 33px;
    height: 33px;
}

.singleEntrySearchTable 
{
    width: 100%;
    table-layout: fixed;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    border-collapse: collapse;
    border-spacing: 0;
}

.singleEntrySearchTable th:nth-child(1), .singleEntrySearchTable td:nth-child(1) 
{
    font-size: 12px;
    min-width: 150px;
    max-width: 150px;
    border-left: 0px !important;
    text-align: left !important;
}

.singleEntrySearchTable th:nth-child(2), .singleEntrySearchTable td:nth-child(2) 
{
    min-width: 55px;
    max-width: 55px;
}

.singleEntrySearchTable th:nth-child(3), .singleEntrySearchTable td:nth-child(3) 
{
    min-width: 62px;
    max-width: 62px;
}

.singleEntrySearchTable th:nth-child(4), .singleEntrySearchTable td:nth-child(4) 
{
    min-width: 62px;
    max-width: 62px;
}

.singleEntrySearchTable th:nth-child(5), .singleEntrySearchTable td:nth-child(5) 
{
    min-width: 37px;
    max-width: 37px;
}

.singleEntrySearchTable th:nth-child(6), .singleEntrySearchTable td:nth-child(6) 
{
    min-width: 90px;
    max-width: 90px;
}

.singleEntrySearchTable th:nth-child(7), .singleEntrySearchTable td:nth-child(7) 
{
    min-width: 45px;
    max-width: 45px;
}

.singleEntrySearchTable th:nth-child(8), .singleEntrySearchTable td:nth-child(8) 
{
    min-width: 85px;
    max-width: 85px;
    border-right: 0px !important;
}

.singleEntrySearchTable thead tr
{
    display: block;
    position: relative;
    background-color:#2d77a3;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 0px 0px;
	font-size:14px;
	color:#E0E0E0;
}

.singleEntrySearchTable tbody
{
    width: 715px !important;
    display: block;
    overflow:auto;
    max-height: 524px;
    overflow-x: hidden;
}

.singleEntrySearchTable tr:last-child td:last-child {
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
	border-bottom-right-radius:5px;
}

.singleEntrySearchTable thead th:first-child {
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
	border-top-left-radius:5px;
}

.singleEntrySearchTable th, .singleEntrySearchTable td 
{
    padding:7px;
}

.singleEntrySearchTable td 
{
    vertical-align:middle;
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	
	font-size:14px;
    cursor: default;
    /*Added*/
    overflow: hidden;
}

.singleEntrySearchTable tbody tr:nth-child(odd){ 
    background-color:#84bdde; 
}

.singleEntrySearchTable tbody tr:nth-child(even)    { 
    background-color:#ffffff; 
}

.singleentrysavebutton {
    display: block;
    position: relative;
    z-index: 1;
    bottom: 15px;
    left: 550px;
    top:100px;
}

.singleentrynotessave, .singleentrynotesreset, .singleentrynotescancel {
    margin-top: 5px;
    margin-left: 5px;
}

.singleentrysavebutton, .singleentrynotessave, .singleentrynotesreset, .singleentrynotescancel {
    opacity: 1;
    color: #FFFFFF;
    margin-bottom: 0;
    border: 3px solid #84bdde;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: #509fd0;
    min-width: 110px;
    text-align: center;
    cursor: pointer;
}

.singleentrysavebutton:hover, .singleentrysavebutton:active, .singleentrysavebutton:focus,
.singleentrynotessave:hover, .singleentrynotessave:active, .singleentrynotessave:focus,
.singleentrynotesreset:hover, .singleentrynotesreset:active, .singleentrynotesreset:focus,
.singleentrynotescancel:hover, .singleentrynotescancel:active, .singleentrynotescancel:focus
 {
    background: #84bdde;
}

.singleentryfiltersubmitbutton {
    background-color: #2AC87C;
    line-height: 36px;
    font-size: 27px;
    color: #fff;
    border-radius: 99px;
    border: 1px solid rgba(255,0,0,0);
    width: 35px;
    height: 35px;
    cursor: pointer;
    text-align: center;
}

.singleentryfiltersubmitbutton:hover, .singleentryfiltersubmitbutton:active, .singleentryfiltersubmitbutton:focus {
    background: #00924C;
}

.singleentrydeletebutton {
    background-color: #FF0606;
    line-height: 36px;
    font-size: 27px;
    color: #fff;
    border-radius: 99px;
    border: 1px solid rgba(255,0,0,0);
    width: 35px;
    height: 35px;
    cursor: pointer;
    text-align: center;
}

.singleentrydeletebutton:hover, .singleentrydeletebutton:active, .singleentrydeletebutton:focus {
    background: #D20000;
}

.singleentrybutton {
    opacity: 1;
    color: #FFFFFF;
    margin-bottom: 0;
    border: 3px solid #84bdde;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: #509fd0;
    min-width: 110px;
    text-align: center;
    cursor: pointer;
}

.singleentrybutton:hover, .singleentrybutton:active, .singleentrybutton:focus {
    background: #84bdde;
}

.singleentryrecord .picbox {
    display:inline-block;
    float: right;
}

.singleentrytransportationHeader {
    background: #70b1d8;
    border-bottom: 2px solid #cfe371; 
    color:#FFF;
    font-family:helvetica,arial,sans-serif;
    font-size:14pt;
    text-transform:uppercase;
    font-style:normal;
    font-variant:normal;
    font-weight:400;
}

.transportationRow {
    margin-top: 3px;
}

.transportationRow span:nth-child(2) {
    width: 220px;
    display:inline-block;
    color:#FFF;
    font-family:helvetica,arial,sans-serif;
    font-size:10pt;
    text-transform:uppercase;
    font-style:normal;
    font-variant:normal;
    font-weight:400;
    height:100%;
    margin-left: 5px;
    vertical-align: top;
    padding-top: 6px;
}

.transportationRow textarea {
    margin-left: 10px;
    width: 195px;
    resize: none;
}

.dropdownholder {
    background: #509fd0;
    width:185px;
    min-width:185px;
    display: inline-block;
    border:1px solid #aeaeae;
    color:#fff;
    padding:4px;
    margin-top:5px;
    margin-bottom:5px;
    margin-left:10px;
    padding-left:10px;
    font-size:14px;
    cursor:pointer;
}

.fakeInput {
    background: #509fd0;
    width:185px;
    min-width:185px;
    display: inline-block;
    border:1px solid #aeaeae;
    color:#fff;
    padding:4px;
    margin-top:5px;
    margin-bottom:5px;
    margin-left:10px;
    padding-left:10px;
    font-size:14px;
    cursor:text;
}

.SEtransportationerror {
    float: left;
    display: block;
    
}

.SEconsumerunavailable {
    opacity:.2;
    pointer-events: none;
    cursor:default;
}

content holder {
    max-width: 245px !important;
    min-width: 245px !important;
    display: inline-block;
}

#basictimeentryreport{
    color:blue;
    padding-left: 74px;
    font-size: 22px;
}

.timeentryreportbutton {
    opacity: 1;
    color: #FFFFFF;
    margin-bottom: 0;
    border: 3px solid #84bdde;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: #509fd0;
    min-width: 110px;
    text-align: center;
    cursor: pointer;
    margin-left: 20px;
    height: 34px;
}

.overlapreportbutton {
    opacity: 1;
    color: #FFFFFF;
    margin-bottom: 0;
    border: 3px solid #84bdde;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: #509fd0;
    min-width: 110px;
    text-align: center;
    cursor: pointer;
    margin-left: 20px;
    height: 34px;
}

.singleentryfilterminibutton {
    background-color: #509fd0;
    color: #fff;
    border-radius: 99px;
    min-width: 22px !important;
    min-height: 22px !important;
    display:inline-block;
    vertical-align: middle;
    font-size:12px;
    text-align:center;
    line-height: 25px;
    margin-right: 2px;
}

.singleentryfiltermininotesbutton {
    background-image: url(../Images/new-icons/notes.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.singleentryfilterminitransportationbutton {
    background-image: url(../Images/new-icons/whitecar.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

#seConsumersLabel{
    color: white;
    display:inline-block;
    font-weight: bold;
    width: 100%;
}

/*
consumer-group {
    display: block;
    text-align: center;
    color: #fff;
    height: 82px;
    width: 110px;
    float: left;
    margin-left: 6px;
}

consumer-first-name, consumer-last-name {
    display:block;
}*/