/*
-------------------------------------------------------------------
    BASE STYLES
-------------------------------------------------------------------
*/

html, body {
    height: 100%;
    overflow: auto;
}
body {
    background: #509fd0;
    font-family: helvetica, arial, sans-serif;
}
hr {
    background-color: #84bdde
}
hr.style-two {
    display: block;
    position: relative;
    width: 100%;
    border: 0;
    height: 1px;
    background-color: #DDD
}
textarea {
    font-size: 20px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

/*Test
-----------------------------------------------
    DROPDOWNS
-----------------------------------------------
*/
.defaultDropdown {
    background-color: #509fd0;
    border: 2px solid #84bdde;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    min-height: 30px;
    padding: 4px 8px;
    width: 100%;
}


/*
-----------------------------------------------
    FLEXBOX STYLES & PREFIXES
-----------------------------------------------
*/
.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
.justify-sb {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.justify-sa {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}


/*
-----------------------------------------------
    POPUPS
-----------------------------------------------
*/
.locationpop0 {
    top: 200px;
    /* 236px; */
    left: 160px
}
.locationpop1 {
    top: 265px;
    /* 236px; */
    left: 182px
}
.locationpop2 {
    top: 385px;
    /* 236px; */
    left: 182px
}
.locationpop3 {
    top: 504px;
    /* 236px; */
    left: 182px
}
.locationpopbase {
    display: none;
    position: fixed;
    background: #509fd0;
    border: 10px solid #84bdde;
    /* #f13c6e; pink */
    min-width: 190px;
    z-index: 8;
    /* box-shadow: 2px 3px 1px #aaaaaa;  */
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px
}

.locationpop {
    background: #509fd0;
    border: 10px solid #84bdde;
    width: 220px;
    z-index: 8;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px 15px 15px 15px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    left: 58px;
    top: 83px;
    max-height: 275px;
    position: fixed;
    /*position:absolute;*/
    display: none
}
.locationpop a {
    border-radius: 20px;
    list-style: none;
    background: #21597b;
    border: 2px solid #cfe371;
    margin-bottom: 15px;
    font-size: 12px;
    color: #fff;
    display: block;
    padding: 3px 15px;
    padding-left: 3px;
    cursor: pointer;
    text-decoration: none;
    font-family: helvetica,arial,sans-serif;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
    line-height: 30px
}
.locationpopupbox {
    background: #509fd0;
    border: 10px solid #84bdde;
    width: 170px;
    z-index: 8;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 15px;
    padding-bottom: 2px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    right: 0;
    max-height: 265px;
    position: absolute;
    display: none
}
.default1 {
    top: 208px
}
.default2 {
    top: 208px
}
.default3 {
    top: 274px
}
.default4 {
    top: 340px
}
.default5 {
    top: 340px
}

/*
-----------------------------------------------
    CUSTOM HTML ELEMENTS
-----------------------------------------------
*/
systemmessages,
singentry,
hoursworked,
dashgoals,
custlinks,
absentconsumers,
timeclock,
timeclockdropdown,
myschedule,
clockrow {
    display: block;
}

/*
-----------------------------------------------
    SCROLLBAR
-----------------------------------------------
*/
::-webkit-scrollbar {
    width: 10px;
    height: 8px
}
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 10px
}
::-webkit-scrollbar-button:vertical:increment {
    background-color: transparent;
}
::-webkit-scrollbar-track-piece {
    background-color: #eee;
    -webkit-border-radius: 3px
}
::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: #ccc;
    -webkit-border-radius: 3px
}
::-webkit-scrollbar-thumb:horizontal {
    width: 50px;
    background-color: #ccc;
    -webkit-border-radius: 3px
}

/*
-----------------------------------------------
    OTHER STYLES
-----------------------------------------------
*/
.advlogo {
    background-image: url(/webroot/Images/new-icons/anywhere.png)
}
.advlogo, .gklogo {
    background-repeat: no-repeat
}
.unicorn {
    cursor: pointer;
    display: block;
    font-family: arial,sans-serif;
    font-size: 16px;
    position: relative;
    width: 47px;
    height: 48px;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border: 0 solid #e7e7e7
}

.visible {
    visibility: visible;
    opacity: 1;
    display: block;
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    transition: opacity 1s linear
}
.hidden {
    visibility: hidden;
    opacity: 0;
    display: none;
    transition: visibility 0 1s,opacity 1s linear;
    -webkit-transition: visibility 0 1s,opacity 1s linear;
    -moz-transition: visibility 0 1s,opacity 1s linear;
    -o-transition: visibility 0 1s,opacity 1s linear;
    transition: visibility 0 1s,opacity 1s linear
}
.warning {
    display: block;
    width: 450px;
    padding: 8px;
    background-color: #f13c6e;
    border: 5px solid #f89ab5;
    margin: 20px;
    cursor: arrow;
    font-family: arial,sans-serif;
    color: #FFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    /* Firefox */
    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-pack: center;
    -moz-box-align: center;
    /* Safari and Chrome */
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: baseline;
    /* W3C */
    display: box;
    box-orient: horizontal;
    box-pack: center;
    box-align: center
}
.unclickableElement {
    pointer-events: none;
    cursor: default;
}

.noblock {
    display: none;
}
.block {
    display: block
}
.roundededge {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px
}
.roundededge5 {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}
.boxvert {
    /* Internet Explorer 10 */
    /*display:-ms-flexbox;
    -ms-flex-direction:column;
    -ms-flex-pack:start;
    -ms-flex-align:start;*/
    /* Firefox */
    display: -moz-box;
    -moz-box-orient: vertical;
    -moz-box-pack: start;
    -moz-box-align: start;
    /* Safari and Chrome */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: start;
    -webkit-box-align: start;
    /* W3C */
    display: box;
    box-orient: vertical;
    box-pack: start;
    box-align: center
}
.timeinputbutton {
    height: 50px;
    width: 50px;
    font-size: 15px;
}
#timeinputkeypad {
    width: 170px;
    padding-left: 10px;
    background-color: #2d77a3;
    padding-top: 10px;
    padding-bottom: 10px;
}
#timedisplayfield {
    border-bottom: 2px solid #cfe371;
    /*width: 176px !important;*/
    width:145px;
    height: 32px;
    font-size: 22px;
    text-align: right;
    margin-bottom: 8px;
}
.timebox {
    /*background: #509FD3;*/
    width: 180px;
    /*margin-left: 240px;
    margin-top: 424px;*/
}
#timecontainerdisplaysection {
   border-bottom: 2px solid #cfe371; 
   background: #509FD3;
   height: 34px; 
   width: 176px !important;  
}
#timecancelbutton{
    width: 159px;
}

.houseicon {
    position: relative;
    top: 3px;
    height: 20px;
    border: none;
    outline: none
}
.buildingicon {
    position: relative;
    top: 2px;
    height: 20px;
    border: none;
    outline: none
}



/*This adds the momentum capability to iPhones when scrolling*/
.momentum {
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
}
#portraitOrientation, #landscapeOrientation {
    display: none;
}
@media only screen and (orientation:landscape) {
    #landscapeOrientation {
        display: inline;
    }

    #portraitOrientation {
        display: block;
    }
}
@media only screen and (orientation:portrait) {
    #portraitOrientation {
        display: inline;
    }

    #landscapeOrientation {
        display: none;
    }
}

/*------------------------ Mobiscroll ---------------------------*/
.dwb-n {
    display: none;
}
.dw-persp, .dwo {
    z-index: 9991;
}
.dw {
    z-index: 9992;
}