.docviewtable {
    /*I added below*/
    margin-top:6px;
    margin-left: 14px;
   
    z-index: 1;
	/*margin:0px;*/
    padding:0px;
	width:700px;
    max-height: 524px;
    overflow: auto;
	float:left;
    clear:both;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;

    /*border:1px solid #000000;*/
    /*border-color: #2d77a3;
    border-width: 10px;*/

    /*-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	border-bottom-left-radius:5px;
	
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
	border-bottom-right-radius:5px;
	
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;
	border-top-right-radius:5px;
	
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
	border-top-left-radius:5px;*/
}

.docviewtable table{
    border-collapse: collapse;
    border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;
    padding:0px;

}

.docviewtable tr:last-child td:last-child {
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
	border-bottom-right-radius:5px;
}

.docviewtable table tr:first-child td:first-child {
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
	border-top-left-radius:5px;
}

.docviewtable table tr:first-child td:last-child {
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;
	border-top-right-radius:5px;
}

.docviewtable tr:last-child td:first-child{
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	border-bottom-left-radius:5px;
    /*I added below*/
    width:375px;
}

.docviewtable tr:hover td{
	
}

.docviewtable tr:nth-child(odd){ 
    background-color:#84bdde; 
}

.docviewtable tr:nth-child(even)    { 
    background-color:#ffffff; 
}

.docviewtable td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
    cursor: default;
}

.docviewtable tr:last-child td{
	border-width:0px 1px 0px 0px;
}

.docviewtable tr td:last-child{
	border-width:0px 0px 1px 0px;
}

.docviewtable tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}

.docviewtable tr:first-child td{
	background-color:#2d77a3;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	color:#E0E0E0;
}

.docviewtable tr:first-child:hover td{
	background-color:#2d77a3;
}

.docviewtable tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}

.docviewtable tr:first-child td:last-child{
	/*border-width:0px 0px 1px 1px;*/
}

.docviewtable .dvdoctitle{
    color: #0000EE;
    cursor: pointer;
    text-decoration: underline;
}
#instructionlabel{
  float: left;
  clear: both;
  color: white;
  font-size: 14px;
  margin-left: 16px;
  margin-top: 20px;
  margin-bottom:  2px;
}
