/*
 * MINI RESET
=================================== */
*,
*:after,
*:before {
	box-sizing: border-box;
}
html {
	font-size: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body {
	line-height: 1.5;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}
html, body, div, span,
h1, h2, h3, h4, p,
a, dl, ol, ul, li,
article, aside, header,
footer, nav, section, input {
	margin: 0;
	padding: 0;
}
article, aside, footer,
header, nav, section {
	display: block;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
img {
	border: 0;
	display: inline-block;
	height: auto;
	max-width: 100%;
}

/* MAIN STYLES */
.dev-icons {
  display: flex;
  flex-flow: row wrap;
}
.dev-icon {
  flex-basis: 25%;
}