/* Accordion Styles */
.accordion {
    background: red;
    margin: 0 auto;
    outline: 1px solid black;
    width: 750px;
}

.accordion-item {
    position: relative;
}

.accordion summary,
.accordion button {
    background: none;
    border: none;
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 12px 10px;
    text-transform: uppercase;
    text-align: left;
    width: 100%;
}

.accordion summary::-webkit-details-marker {
    display: none;
}

.accordion button:hover,
.accordion button:hover::after,
.accordion summary:hover,
.accordion summary:hover::after {
    cursor: pointer;
}

.accordion-content {
    transition: all 0.6s ease-in;
    max-height: 5px;
    overflow: hidden;
}

.accordion-content.active {
    max-height: 10000px;
}

/* Table Styles */
.table {
    margin: 0 auto;
    width: 750px;
    text-align: center;
}

.table > table {
    background-color: #fff;
    width: 100%;
}

.table td {
    padding: 10px 15px;
}

/* Tag Styles */

.tag {
    background: #fff;
    border-radius: 10px;
    display: inline-block;
    padding: 10px 18px;
}
.tag input[type=checkbox] {
    visibility: hidden;
}
